<header class="header">
    <div class="header__container">
        <img src="../dist/images/Logo.svg" alt="">
        <nav class="header__nav">
            <ul class="header__link-list">
                <li class="header__link-list-item"><a href="../index.html">Home</a></li>
                <li class="header__link-list-item"><a href="./about.html">About</a></li>
                <li class="header__link-list-item"><a href="./blog.html">Blog</a></li>
                <li class="header__link-list-item"><a href="./pricing.html">Pricing</a></li>
                <li class="header__link-list-item"><a href="./contact.html" class="header__contact-us-link">Contact Us</a></li>
            </ul>
            
            
        </nav>
        <img src="../dist/images/burger.svg " alt="" class="header__burger-button">
    </div>
</header>