$black: #000;
$semi-black: #1D1E25;
$grey: #7E8492;
$grey-bright: #AFB3BB;
$grey-border: #CED1D8;
$white: #fff; 
$white-border: #EDEDED;
$blue: #1463FF;

h1 {
    font-size: 72px;
    line-height: 86px;
    font-size: 700;
}

h2 {
    font-size: 56px;
    line-height: 67px;
    font-size: 600;
}

h3 {
    font-size: 40px;
    line-height: 48px;
    font-size: 600;
}


h4 {
    font-size: 32px;
    line-height: 42px;
    font-size: 600;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    font-size: 600;
}

h5 {
    font-size: 16px;
    line-height: 24px;
    font-size: 700;
}

main {
    min-height: 100vh;
}

.wrapper {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: $grey;

    min-height: 100vh;
}






@mixin container {
    max-width: 1240px;

    padding: 0 20px;

    margin: 0 auto;
}

@mixin smallText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
   
}
